*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin:0;
}

header{
    grid-column:1/4 ;
}


main{
    grid-column: 1/3;

    display: grid;
    grid-template-columns: 29% 5% 29% 5% 29%;
    grid-template-rows: 120px 80px 250px;
    justify-content: center;
    align-content: center;
    
    gap:3px;
    
}

main > *{
    background-color: chartreuse;
    z-index: 10;
}


#space1{
    grid-row: 2/4;
    grid-column: 2/3;
}

#space2{
    grid-row: 2/4;
    grid-column: 4/5;
}

#overskrift{
    grid-column: 2/5;
}

#overskrift, .under-overskrift{
    color: black;
    justify-content: center;
    display:flex;
}



header {
    background-color:none ;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    top: 0px;
    color: black;
    z-index: 1000;

}

footer{
    grid-column: 1/4;
}

nav{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;


}

.bildepunkter-side > *{
    background-color: blueviolet;
}

.pixel_container{
    
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px ;
    grid-template-rows: 50px 50px 50px 50px 50px 50px ;
    gap:10px;
    width:100%;
    height:100%;
    margin: auto;
    justify-content: center;
    align-content: center;
    
    
    

    
}

.pixel_container > div{
    
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif   ;
    align-items: center;
}

.bildepunkter-side{

    display: grid;
    grid-template-columns: 33vw 34vw 33vw;
    grid-template-rows: 15vh 70vh 15vh;
    width: 100vw;
    height: 100vh;
    gap: 5px;

}