@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


  div{
    color: var(--svart)
  }

  body{
    display: grid;
    grid-template-rows:80px 1fr 100px;
    grid-template-columns: 1fr 40%;
    height: 100vh;
    
  }

  section{
    background-color: var(--cool-blue);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

  aside{
    background-color: var(--cool-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  body header{
    position: static;
    margin: 0px;
    grid-column: span 2;
    background-color: var(--cool-blue);
    
    
  }

  footer{
    background-color: var(--cool-blue);
    grid-column: span 2;
  }

  .overskrift{
    color: var(--svart);
    padding-bottom: 40px;
    font-size: 40px;
  }

  .avsnitt{
    background-color: var(--cool-blue);
    font-size: 20px;
  }

  .octo{
    height: 400px;
    margin-right: 30px;
    padding: 10px;
    background-color: var(--ebony);
    border-radius: 10px;
    position: absolute;
    top: 5%;
    
  }

  #knapp{
    margin-top: 0px;
  }

  .grayscale{
    filter: grayscale();
  }

  #knapp{
    height: 70px;
    background-color: var(--columbia-blue);
    outline: none;
    border: none;
    border-radius: 3px;
  }

  .knappwrap{
    height: 60px;
    background-color: var(--);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 50%;
  }

  #o2{
    margin-top: 250px;
  }

  .red{
    color: red;
    display: inline-block
  }

  .green{
    color: green;
    display: inline-block;
  }

  .blue{
    color: blue;
    display: inline-block
  }

  .cyan{
    color: cyan;
    display: inline-block;
  }

  .magenta{
    color: magenta;
    display: inline-block;
  }

  .yellow{
    color: yellow;
    display: inline-block;
  }

  .black{
    color: black;
    display: inline-block;
  }

 p .avsnitt{
  display: flex;
  width: auto;
 }

 #avsnitt2{
  background-color: var(--cool-gray);
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 40px;
 }

 .rgb{
  position: relative;
  top: 32%;
  right: 20px;
  padding: 10px;
  background-color: var(--ebony);
  border-radius: 10px;
  
  
 }

 .navitem:hover{
  color: white;
 }

 .avcont{
  display: flex;
  gap: 20px;
 }

 @media (min-width: 1080px) {
    #knapp{
      width: 200px;
    }
 }

 @media (max-width:1000px){
  section{
    grid-column: span 2;
  }
  .octo,
  .rgb{
    position: static;
    
  }

  aside{
    
    width: 100%;
  }

  body{
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
  }

  .octo{
    height: 300px;
    filter: none;

  }

  .rgb{
    width: 50%;
  }

  .knappwrap{
    margin-top: 40px;
  }

  #knapp{
    display: none;
  }
  #o2{
    margin-top: 100px;
  }
 }

 

 @media (max-width:600px){
  .octo{
    display: none;
  }

  .rgb{
    width: 85%;
  }
 }
