body{
    background-color: var(--cool-blue);
   
    
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    
    margin-top: 100px;
}

.top{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

header{
    z-index: 10000000;
    background-color: var(--cool-blue);
}

.overskrift{
    font-size: 40px;
    margin-top: 10px;
}

.lossy{
    height: 300px;
    margin-top: 30px;
    padding: 10px;
    background-color: var(--ebony);
    border-radius: 10px;
}

.top p{
    margin-top: 10px;
    width: 75%;
    font-size: 17px;
}

.tapsfri{
    height: 00px;
}

.middle{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#lossyO{
    margin-top: 40px;
    margin-bottom: 40px;
}

.avsnitt{
    font-size: 20px;
}

.file{
    width: 600px;
    padding: 10px;
    background-color: var(--ebony);
    border-radius: 10px;
    position: relative;
    top: 15%;
}