@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    font-family: "Quicksand";
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  body{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  a{
    color: black;
    text-decoration: none;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  header {
    background-color:white ;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
    color: black;

  }

  nav{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }

  .background{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .backimg{
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  .overlay{
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 100;
  }

  main{
    position: relative;
    grid-column: 1;
  }

  .navitem{
    padding: 10px;
    transition: all 0.5s;
  }




  .navitem:hover{
    border: 1px solid var(--svart);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    
    
  }
  aside{
    grid-column: 2;
    background-color: var(--cool-blue);
    position: relative;
  }
  .tekst{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    height: fit-content;
    width: 500px;

  }
  .tekst h1{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .tekst p{
    font-size: 1.2em;
    font-weight: 400;
  }