html {
    box-sizing: border-box;
    font-size: 16px;
  }
body{
    text-align: center;
    color: white;
    text-shadow: 10px;
}
header {
    background-color:none ;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0px;

  }

  .arkiv{
    position: absolute;
    z-index: -2;
  }

  nav{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
  }

  .navitem {
    padding: 10px;
    border-radius: 10px;
  }
  .navitem:hover{
    background-color: lightgray;
  }

  h1{
    display: grid;
    margin-top: 75px;
    text-decoration: underline;
    z-index: 2;
  }
