html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  header {
    background-color:none ;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0px;
    color: white;

  }

  nav{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    

  }

  .imggrid{
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 33% 33% 33%;
    gap: 2px;
    
  }

  .gridimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #bilde1{
    grid-row:span 2 ;
  }
  
  #bilde2{
    grid-row: span 2;
    grid-column: span 2;
  }

  #bilde3{
    grid-column: span 2;
  }

  .imggrid img{
    ;
  }

